.header_pc {
    position: fixed;
    margin: 0 auto;
    top: 0;
    padding: 0 36px;
        height: 96px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 999;

    .home {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 96px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .tab{
        position: relative;
        
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;



        .tab_menu{
            width: 162px;
        height: 60px;
        background-color: #071B34;

            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;

        }

        .tab_btn{
            bottom: -80px;
            right: 0;
            width: 100%;
            height: 100%;

            ul{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                background-color: #071B34;
                text-align: center;
                color: #fff;
                padding-inline: 12px;
                gap: 20px;
                box-sizing: border-box;

                .hello{
                    width: 100%;
                    font-family: "EBSHunminjeongeumSBA";
                    font-size: 16px;
                    line-height: 22px;
                    text-align: center;
                    align-items: center;
                    flex-grow: 1;
                    padding-block: 20px;
                    border-block: 1px solid #304055;    

                    p{
                        font-size: 1.25rem;
                        line-height: 30px;
                        color: #fff;
                        text-align: left;

                        span{
                            color: #E75752;
                        }
                    }
                }

                li{
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: flex-start;
                    padding-inline: 10px;
                    text-align: left;
                    font-weight: bold;

                    a{
                        display: block;
                        color: #fff;
                    }
                }
                .log_out{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: flex-start;
                    padding-inline: 10px;
                    text-align: left;
                    border-top: 1px solid #304055;
                    box-sizing: border-box;
                    padding-block: 20px;


                    a{
                        display: block;
                        color: #fff;
                        width: 100%;
                        font-weight: bold;
                    }
                }
            }
        }
    }

}